@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
  --background: #dad7cd;
  --primary: #3a5a40;
  --secondary: #b5c49c;
  --accent: #588157;

}

body {
  background: var(--background);
  font-family: "ColfaxAI", Helvetica, sans-serif;
  color: var(--primary);
  margin: 0px;
}

.header {
  background: var(--primary);
  height: 80px;
  margin: 0px;
  position: relative;
}

.header-content {
  position: absolute;
  bottom: -20px;
  left: 30px;
  color: var(--background);
  font-family: "Courier New";
  font-weight: bolder;
  font-size: 60px;
}


.main-stuff {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}

#form-title {
  font-weight: bold;
  font-size: 25px;
}

.input-area {
  background: var(--background);
  font-size: 18px;
  border-color: var(--primary);
  border-width: 4px;;
  color: var(--primary);
  font-family: "ColfaxAI", Helvetica, sans-serif;
  min-height: 300px;
}

.generate-calendar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.generate-calendar input {
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 19px;
  font-weight: lighter;
  border: none;
  border-radius: 6px;
  padding: 20px;
  padding-left:40px;
  padding-right: 40px;
}

.table-stuff {
  margin-top: 40px;
  margin-bottom: 50px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid var(--primary);
  padding: 8px;
  text-align: left;
} 

th {
  background: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
  padding: 8px;
  text-align: left;
}


.download {
  text-align: center;
}

.download a {
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 19px;
  font-weight: lighter;
  border: none;
  border-radius: 6px;
  padding: 20px;
  padding-left:40px;
  padding-right: 40px;
}


  /* body,
  input {
    font-size: 16px;
    line-height: 24px;
    color: #0d1746;
    font-family: "ColfaxAI", Helvetica, sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .icon {
    width: 34px;
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #202123;
    margin: 16px 0 40px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 320px;
  }
  input[type="text"] {
    padding: 12px 16px;
    border: 1px solid #10a37f;
    border-radius: 4px;
    margin-bottom: 24px;
  }
  ::placeholder {
    color: #8e8ea0;
    opacity: 1;
  }
  input[type="submit"] {
    padding: 12px 0;
    color: #fff;
    background-color: #10a37f;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  .result {
    font-weight: bold;

  }
  

  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
} */